<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nszalas.timefulness">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_timefulness_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_timefulness_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Timefulness">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- alarm manager -->
        <receiver
            android:name=".infrastructure.local.NotificationTaskReminderReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="ALARM_NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>

        <!-- notifications -->
        <receiver android:name=".ui.calendar.receivers.NotificationReceiver" />

    </application>

</manifest>